PORT=4000
FRONTEND_ORIGIN=https://www.ready2gooverseas.com
RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL="Ready2Go Overseas <no-reply@ready2gooverseas.com>"
CONTACT_TO_EMAIL=info@ready2gooverseas.com
